<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C75A4961C7F58FC000A8D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C75A4AA1C7F58FD000A8D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C75A4B51C7F58FD000A8D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
